.top-bar{
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
}

.vertical-bar{
    -fx-background-color: #000000;
}

.p-header{
    -fx-text-fill: #DCDDCE;
    -fx-font-size: 20px;

}

.header{
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
}

.h2{
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-padding: 0;
}

.button:hover{
    -fx-cursor: hand;
    -fx-underline: true;
}

.menuButton:hover{
    -fx-cursor: hand;
}

.button-menu{
    -fx-alignment: center-left;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-color: none;

}

.activeBtn{
    -fx-text-fill: white
}

.button-logout{
    -fx-text-fill: #2B78E4;
    -fx-font-weight: bold;
    -fx-background-color: white;
}

.p{
    -fx-font-size: 15px;
}

.blueBtn{
    -fx-background-color: #2B78E4;
}

.btnHub{
    -fx-border-color: #2B78E4;
    -fx-border-width: 3px;
    -fx-border-radius: 4px;
    -fx-background-color: white;
    -fx-font-weight: bold;
    -fx-text-fill: #2B78E4;
}

.btnHub:hover{
    -fx-text-fill: white;
    -fx-background-color: #2B78E4;
}

.anchor{
    -fx-text-fill: blue;
}

.anchor:hover{
    -fx-underline: true;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);

    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 3px 0;
}


.unitTable1 .column-header-background{
    -fx-background-color: #d02929 !important;

    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 3px 0;
}

.unitTable2 .column-header-background{
    -fx-background-color: #0000ff !important;

    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 3px 0;
}

.BtnArmy1{
    -fx-text-fill: #d02929;
    -fx-border-width: 2px;
    -fx-border-color: #d02929;
    -fx-background-color: white;
    -fx-border-radius: 2px;
    -fx-font-weight: bold;
}

.BtnArmy1:hover{
    -fx-background-color: #d02929;
    -fx-text-fill: white;
    -fx-underline: false;
    -fx-border-radius: 2px;
    -fx-font-weight: bold;
}

.BtnArmy2{
    -fx-text-fill: #0000ff;
    -fx-border-width: 2px;
    -fx-border-color: #0000ff;
    -fx-background-color: white;
    -fx-border-radius: 2px;
    -fx-font-weight: bold;
}

.BtnArmy2:hover{
    -fx-background-color: #0000ff;
    -fx-text-fill: white;
    -fx-underline: false;
    -fx-border-radius: 2px;
    -fx-font-weight: bold;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:odd{
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #E9E9E9;
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #a2a3a9;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-text-alignment: LEFT;
}

.table-view .column-header#test .label{
    -fx-alignment: CENTER;
    -fx-text-alignment: LEFT;
}

.simulationBox{
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 3px;
}

.simulationBox:hover{
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
    -fx-underline: false;
}

.box{
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
    -fx-underline: false;
    -fx-border-radius: 3px;
    -fx-font-weight: bold;
}

.box:hover{
    -fx-border-width: 3px;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 3px;
    -fx-underline: false;
}

.BtnSmall{
    -fx-text-fill: #9b9b9b;
    -fx-border-color: #9b9b9b;
    -fx-background-color: white;
    -fx-border-radius: 4px;
    -fx-font-weight: bold;
}

.BtnSmall:hover{
    -fx-text-fill: white;
    -fx-background-color: #9b9b9b;
    -fx-border-radius: 4px;
    -fx-font-weight: bold;
    -fx-underline: false;
}

#simulationContainer{
    -fx-border-width: 5px;
    -fx-border-color: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #d02929 0.0%, #0000ff 100.0%);
}


